<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

        <test  preserve-order="true" name="Alerts">
            <parameter name="url" value="https://the-internet.herokuapp.com/"/>
            <classes>
                <class name="TestCases.AlertHandling"/>
            </classes>
        </test>
</suite>